In [2]:
import pandas as pd

rent = [1550,1700,900,850,1000,950]

df = pd.DataFrame(rent)

In [3]:
display(df.describe())

                 0
count     6.000000
mean   1158.333333
std     367.990036
min     850.000000
25%     912.500000
50%     975.000000
75%    1412.500000
max    1700.000000

In [4]:
display(df.std())

0    367.990036
dtype: float64